html,body{
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@function column-width($number) {
  @return (($number/3840) * 100)*1vw ;
}
div{
  box-sizing: border-box;
}
.sun {

  background: url('./../assets/page/sun.png') no-repeat ;
}
.cloudy{

  background: url('./../assets/page/cloudy.png') no-repeat ;
}
.rain{

  background: url('./../assets/page/rain.png') no-repeat ;
}
.snow{

  background: url('./../assets/page/snow.png') no-repeat ;
}
.overcast{

  background: url('./../assets/page/overcast.png') no-repeat ;
}
