root {

}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@function column-width($number) {
  @return (($number/3840) * 100)*1vw ;
}

div {
  box-sizing: border-box;
}

.sun {

  background: url('./../assets/page/sun.png') no-repeat;
}

.cloudy {

  background: url('./../assets/page/cloudy.png') no-repeat;
}

.rain {

  background: url('./../assets/page/rain.png') no-repeat;
}

.snow {

  background: url('./../assets/page/snow.png') no-repeat;
}

.overcast {

  background: url('./../assets/page/overcast.png') no-repeat;
}

$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;
$bordercolor: #3b4d5d;
$backgroundcolor: #0d151b;
$white:#ffffff;
$backgroundcolor2:#16232d;
$titlecolor:#62a2cd;
$paginationColor :#68859f;
$primaryborde:#6eb3e2;
$warningborde:#d2d72e;
.el-range-editor.el-input__inner.fr-date-picker {
  background: $backgroundcolor;
  border: 1px solid $bordercolor;
  .el-icon-color{
    color: $bordercolor;
    font-size: 24px;
  }
  .el-range-separator{
    color: $white;
  }
  .el-range-input{
    color: $white;
    background: $backgroundcolor;
  }
}
//.fr-date-popper-class{
//  .el-picker-panel{
//    color: $white;
//    background: $backgroundcolor;
//  }
//}
.input-with-select-append{
  display: grid;
  width: 130px;
  grid-template-columns: 1fr 1fr;
  div{
    display: flex;
    justify-content: center;
  }
}
.fr-date-picker{
  width: 100%;
}
.line{
  color: $white;
}
.set-h-42{
  height: 42px;
}
.fr-input.fr-input-warning{
  position: relative;
  border: 2px solid $warningborde;
  box-shadow: 0 0 column-width(50) $warningborde inset;
  z-index: 2;
  .el-input__inner{
    color: $white;
    background: none;
    border: 1px solid transparent;
  }
  .el-input-group__append{
    background: none;
  }
}
.fr-input.fr-input-primary{
  border: 2px solid $primaryborde;
  box-shadow: 0 0 column-width(50) $primaryborde inset;
  .el-input__inner{
    color: $white;
    background: none;
  }
  .el-icon-primary{
    color: $primaryborde;
    font-size: 24px;
  }

}
.fr-input {
  border: 1px solid $bordercolor;
  border-radius: 5px;
  .el-input__inner{
    color: $white;
    background: $backgroundcolor;
    border: 1px solid transparent;
  }
  .el-icon-color{
    color: $bordercolor;
    font-size: 24px;
  }
  .el-input-group__append{
    background-color: $backgroundcolor;
    color: $white;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap;
  }
}
.fr-table.el-table  {
  background:$backgroundcolor;
  .el-table__header-wrapper{
    background:$backgroundcolor;
  }
  thead {
    color: $titlecolor;
    background:$backgroundcolor2;
    font-size: 20px;
    font-weight: 400;
    tr{
      color: $titlecolor;
      background:$backgroundcolor2;
    }
    th{
      font-weight: 400;
    }
  }
  tr{
    background:$backgroundcolor;
    color: $white;
  }
  th.is-leaf{
    border: none;
  }
  td{
    border: none;
  }
  th{
    background:$backgroundcolor2;
  }
}
.fr-table.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: $backgroundcolor;
}
.fr-table.el-table::before, .fr-table.el-table--group::after, .fr-table.el-table--border::after{
  display: none;
}
.el-table tr.warning-row{
  background: $backgroundcolor2;
}

.el-table .success-row {
  background: #f0f9eb;
}

.pagination{
  padding: 15px 0 15px 20px;
}
.pagination .el-pager li{
  background-color:#111111;
  color: #999999;
}
.pagination .el-pagination .btn-prev{
  background-color:#111111;
  border-bottom-left-radius: 45%;
  border-top-left-radius: 45%;
  border-top: 1px solid #004559;
  border-bottom: 1px solid #004559;
  border-left: 1px solid #004559;
}
.pagination .el-pagination .btn-next{
  background-color:#111111;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  border-top: 1px solid #004559;
  border-bottom: 1px solid #004559;
  border-right: 1px solid #004559;
}
.pagination .el-pagination .btn-next .el-icon,.pagination .el-pagination .btn-prev .el-icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #15252e;
  background-color: #2eb9ff;
  border-radius: 8px;
}
.pagination .el-pagination .el-pager li.active,.pagination .el-pagination .el-pager li:hover {
  position: relative;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  z-index: 3;
}
.pagination .el-pager li {
  border-top: 1px solid #004559;
  border-bottom: 1px solid #004559;
}
.pagination .el-pagination .el-pager li.active:after,.pagination .el-pagination .el-pager li:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #111111;
  border: 2px solid #004559;
  box-shadow: inset 0 0 10px rgb(7 163 253 / 20%);
  transform: scaleY(1.4);
  box-sizing: border-box;
}


.foot-pagination{
  padding: 20px;
  .el-pagination .btn-prev, .el-pagination .btn-next {
    background: $backgroundcolor;
    color: $white;
  }
  .el-pager li{
    background: $backgroundcolor;
    color: $paginationColor;
  }
  .active.number{
    color: $white;
  }
}
